* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segou UI', Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #fefefe;
}

h6 {
    color: #3882f6;
    font-size: 20px;
}

/* GRID */
.grid-container {
    display: grid;
    height: 100vh;
    grid-template: 5% 30% auto auto/ 200px auto;
    grid-template-areas: 
    "header header"
    "top-cont top-cont"
    "sidenav main-cont"
    "footer footer";
}

/* HEADER */
.header {
    grid-area: header;
    background-color: #1f2937;
    font-size: 24px;
    font-weight: bold;
    padding-left: 16px;
    display: flex;
    align-items: center;
    color: #f9faf8;
    border-bottom: 2px solid #5d6063;
}

/* TOP CONTENT */
.top-container {
    grid-area: top-cont;
    background-color: #1f2937;
    border-bottom: 2px solid #5d6063;
    justify-content: center;
    align-items: center; 
    display: flex;
    flex-direction: column;
}

.top-container h1 {
    font-size: 54px;
    font-weight: bolder;
    color: #f9faf8;
}

.top-container h3 {
    font-size: 18px;
    color: #e5e7eb;
}

/* SIDENAV */
.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

.sidenav a {
    font-size: 24px;
    text-decoration: none;
    color: #111827;
}

.sidenav-container {
    grid-area: sidenav;
    height: auto;
    display: block;
}

.sidenav {
    border-right: 2px solid #5d6063;
    width: 200px;
    padding: 16px;
}

.sticky {
    position: sticky;
    top: 0;
}

/*------ MAIN CONTENT ------*/
.main-container {
    grid-area: main-cont;
    display: flex;
    justify-content: center;
    margin:0 250px 0 50px;
    gap: 1em;
    padding: 1em;
    flex-wrap: wrap;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 5px;
    padding: 1em 20%;
    font-size: 18px;
    color: #5d6065;
}

.container h2 {
    color: #5d6065;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 1em;
}

/* EDUCATION */
#education .content-body {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

#education img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

.education-card {
    border: 3px solid #3882f6;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 20px;
    margin-bottom: 0.5em;
    
}

.education-item {
    display: flex;
    width: 33.33%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#education h6 {
    font-size: 1em;
}

#education p {
    font-size: 0.8em;
}

#education .subtext {
    font-size: 0.7em;
}

/* AWARDS */
#awards .content-body {
    width: 70%;
}

#awards img {
    height: 150px;
    width: 150px;
    margin-right: 3em;
    border-radius: 100%;
}

.awards-item {
    display: flex;
    padding: 1.5em;
    background-color: #e5e7eb;
    border-radius: 50px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    margin-bottom: 1.5em;
}

/* CONTACTS */
#contact .content-body {
    width: 50%;
}

#contact img {
    height: 50px;
    width: 50px;
    margin-right: 3em;
}

#contact a {
    text-decoration: none;
    color: #3882f6;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

/* FOOTER */

.footer {
    grid-area: footer;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f9faf8;
}


